$colors: (
  red: #e50914,
  white: #FFFFFF,
  dark-grey: #8c8c8c,
  dark-grey-alt: #333333,
  medium-grey: #737373,
  medium-grey-alt: #9e9e9e,
  medium-grey-alt2: #757575,
  light-grey: #b3b3b3,
  light-blue: #0071eb,
  black: rgba(0, 0, 0, 0.75),
  light-black: rgba(0,0,0, 0.4),
  full-black: #000000,
)
