/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
    max-width: 100%;
}

body {
  color: map-get($colors, white)
}

/* Reset checkbox styles */
[type="checkbox"] + span:not(.lever) {
  padding-left: 25px;
}
